.App {
  text-align: center;
  padding-left:5%;
  padding-right:5%;
  background: none;
}

.App-header {
  background-color: none;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  vertical-align: top;
  display : flex;
  flex-direction : row;
}

.current-temperature {
  margin-top: 10%;
  border: solid white 5px;
  padding-left: 5%;
  padding-right: 5%;
}

.live-value {
  color: white;
  font-size: calc(100px + 2vmin);
  padding: 5%;
}

.redback-logo {
  max-width: calc(200px + 1vmin);
  display: flex;
  align-self: center;
  padding-top: 5%;
  margin-left: 70%;
}

.value-title {
  font-size: calc(25px + 2vmin);
}

.recent-timestamps {
  border: solid white 5px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
}

.recent-timestamps p {
  font-size: calc(25px + 2vmin);
  font-style: bold;
}

.recent-timestamps li {
  list-style: none;
}

.recent-timestamps li.hot {
  background-color: rgb(59, 2, 2);
}

.recent-timestamps li.cold {
  background-color: darkslategray;
}

.apexcharts-tooltip span {
  color: #fefefe;
}

.left-container {
  float:left;
  height:60%;
}

.right-container {
  float:right;
  margin-left: 10px;
  width: 80%;
  height:50%;
  padding: 5%;
}